@import url(./vendor/normalize.css);
@import url(./fonts.css);
/*.body {
    /*max-width: 1280px;
    margin: 0;
    font-family: "inter" "Helvetica Neue", "Arial", "sans-serif";
}*/   
.page {
    background-color: #2A2C2F;
    
    max-width: 1280px;
    margin: 0;
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', "sans-serif";
   }
.header {
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 28;
    display: flex;
    justify-content: space-between;

}
.header__logo {
    margin: 0;
    width: 176px;
    height: 52px;
}
.header__lang-link {
    display: inline-flex;
       align-items: center;
       margin: 0;
       margin-top: 18px;
        margin-bottom: 6px;
        list-style: none;
}
.header__lang-link-ru {
    font-family: Inter;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-right: 18px;
    
    width: 30px;
    height: 28px;
}
.header__lang-link-en {
    font-family: Inter;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    text-align: right;
    color: #FFFFFF;
    width: 29px;
    height: 28px;

}



.lead {
   margin: 0 auto;
   max-width: 984px;
}
.lead__image {
   width: 100%;
}
.lead__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}
.lead__subtitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.lead__caption {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}


.intro {
    margin-left: 148px;
    max-width: 690px;
    color: #FFFFFF;
    
    margin-top: 92px;
    margin-bottom: 92px;
}
.intro__title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 58px;
}
.intro__text {
    margin-top: 40px;
    margin-bottom: 32px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.intro__list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}


/*lkhl;khjkh;kjh;kh*/


.photo-grid {
    margin: 0 auto;
   
    max-width: 1184px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 16px;
}
.photo-grid__item {
    width: 284px;
} 
.places {
 color: #FFFFFF;
 
 max-width: 984px;
 margin: 0 auto;
 margin-top: 92px;
}
.place {
    padding: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}
.place__title__image-box {
 max-width: 460px;
}
.place__text-box {
 max-width: 484px;
 
}
.place__title {
    
    font-weight: bold;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    margin-bottom: 48px;
}
.place__website {
    
    max-width: 456px;
    margin: 0;
    margin-top: 106px;
    margin-bottom: 24px;
}
.place__url-heading {
    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}
.place__link{
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}
.place__link:hover {
    opacity: 0.8;
}
.place__image {
    
    max-width: 460px;
    margin: 0;
}
.place__paragraph {
    
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-top: 24px;
}

.cover {
    position: relative; 
    margin: 0 auto;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 740px;
    max-width: 1184px;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    background-position: center center;
}
.cover__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    background: #2A2C2F;
    opacity: 0.3;
}
.cover__overlay:hover {
    background: #2A2C2F;
    opacity: 0.8;
}
.cover__title {
    margin: 0;
    margin-bottom: 32px;
    z-index: 2;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
}
.cover__subtitle {
    margin: 0;
    z-index: 2;
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.footer {
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
color: #FFFFFF;
}
.footer__links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    display: inline-flex;
   align-items: center;
    color: #FFFFFF;
justify-content: space-between;
}
.footer__link {
    margin: 0;
    text-decoration: none;
    padding: 0;
    color: #FFFFFF;
    list-style: none;
    margin-right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer__link:hover {
    opacity: 0.8;
}


.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  
    
    
    
    color: #FFFFFF;
}




/*Экспекрементируем с "Куршская коса"*/

@media (min-width: 1024px) and (max-width: 1280px) {
    .header {
        max-width: 928px;
    }
    .place__image {
      max-width: 440px;
    }
    .places {
      max-width: 928px;
    }
    .place__text-box {
      max-width: 456px;
    }
    .cover {
        min-height: 640px;
        max-width: 1024px;
    }
    .photo-grid {
        max-width: 928px;
        grid-template-columns: 1fr 1fr 1fr;
        /*grid-gap: 16px;*/
    }
    .photo-grid__item {
        width: 300px;
    } 
    .intro {
        
        margin-top: 48px;
    }
    
     .lead {
        
        max-width: 928px;
     }
    
}
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        max-width: 720px;
        
    }
    .place__title {
      font-size: 42px;
      line-height: 46px;
    }
    .place__image {
      max-width: 340px;
    }
    .places {
      max-width: 720px;
    }
    .place__text-box {
       max-width: 352px;
    }
    .place__paragraph {
       font-style: normal;
       font-weight: normal;
       font-size: 16px;
       line-height: 26px;
    }
    .cover {
        min-height: 480px;
        max-width: 768px;
    }
    .photo-grid {
        max-width: 720px;
        grid-template-columns: 1fr 1fr;

        /*grid-gap: 16px;*/
    }
    .photo-grid__item {
        width: 352px;
    } 
    .intro {
        margin: 0 auto;
        max-width: 720px;
        margin-bottom: 92px;
        margin-top: 88px;
    }
    .lead {
        
        max-width: 768px;
     }
    
}
@media (min-width: 320px) and (max-width: 768px) {
    .header {
        max-width: 288px;
        
    }
    .header__lang-link-ru {
        font-size: 18px;
        line-height: 24px;
    }
    .header__lang-link-en {
        font-size: 18px;
        line-height: 24px;
    
    }
    .place {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .place__title {
      font-size: 32px;
      line-height: 35px;
    }
    .place__image {
      max-width: 320px;
      margin-bottom: 8px;
    }
    .places {
      max-width: 320px;
    }
    .place__text-box {
       max-width: 320px;
    }
    .place__paragraph {
       font-style: normal;
       font-weight: normal;
       font-size: 16px;
       line-height: 26px;
    }
    .place__website {
        display: none;
    }
    .cover {
        min-height: 200px;
        max-width: 320px;
        margin-top: 8px;
    }
    .cover__title {
        margin-bottom: 16px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
    .footer {
        
            max-width: 186px;
            margin-left: 16px;
            margin-top: 64px;
            margin-bottom: 24px;
          
        flex-direction: column;
        
    }
    .footer__links {
        
        
        display: flex;
        
        flex-direction: column;
       align-items: flex-start;
       
    }
    .footer__links-line {
        margin-bottom: 32px;    
    }
    .footer__copyright {
        margin-top: 16px;
      
    }
    .photo-grid {
        max-width: 720px;
        grid-template-columns: 1fr;
        grid-gap: 12px;
        justify-items: center;
    }
    .photo-grid__item {
        width: 288px;
    } 
    .intro {
        margin: 0 auto;
        max-width: 288px;
        
        margin-top: 64px;
    }
    .intro__title {
        font-size: 32px;
    line-height: 35px;
    }
    .lead {
        
        max-width: 320px;
     }
     .lead__title {
        font-size: 40px;
line-height: 44px;
    }
    .lead__subtitle {
        font-size: 16px;
line-height: 20px;
    }
}
