@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
    margin: 0 auto;
    width: 100%;
    max-width: 984px;
    
 }
 /*@media (min-width: 1024px) and (max-width: 1280px) {
    
     .lead {
        max-width: 928px;
    }
    
}
@media (min-width: 768px) and (max-width: 1024px) {
    
    .lead {
        max-width: 768px;
    }
    
}
@media (min-width: 320px) and (max-width: 768px) {
    
    .lead {
        max-width: 320px;
    }
     
}*/
