.lead__subtitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 64px;
    margin-top: 32px;
}
@media (min-width: 510px) and (max-width: 767px) {
    .lead__subtitle {
        font-size: 20px;
        line-height: 25px;
        width: 100%;
        max-width: 388px;
    }
}
@media (min-width: 320px) and (max-width: 509px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        max-width: 288px;
    }
}
