@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links-line/footer__links-line.css);
@import url(./__links/footer__links.css);
.footer {
    max-width: 1184px;
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 24px;
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1024px) {
   
    .footer {
        
        margin-left: 24px;
        margin-right: 24px; 
    }
   
}

@media (min-width: 320px) and (max-width: 767px) {
   
    .footer {
        margin-left: 16px;
        margin-top: 64px;
        flex-direction: column;
        
    }
   
}
